<h1><%= current_user.name %>'s Profile</h1>

<table class="table table-striped">
  <tr>
    <th>Age</th>
    <th>Gender</th>
    <th>Pic url</th>
    <th>Address</th>
    <th>Phone Number</th>
  </tr>
  <tr>
    <td><%= @profile.age %></td>
    <td><%= @profile.gender %></td>
    <td><%= @profile.pic_url %></td>
    <td><%= @profile.address %></td>
    <td><%= @profile.phonenum %></td>
  </tr>
</table>
<%= link_to 'Edit', edit_profile_path %>
<br />
