<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>

<p>
  <b>Age:</b>
  <%= @profile.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @profile.gender %>
</p>

<p>
  <b>Pic url:</b>
  <%= @profile.pic_url %>
</p>

<p>
  <b>Address:</b>
  <%= @profile.address %>
</p>

<p>
  <b>Phonenum:</b>
  <%= @profile.phonenum %>
</p>


<%= link_to 'Edit', edit_profile_path %> |
<%= link_to 'Back', profile_path %>
