<div>
  <%= form_for @task, :url => { :action => "create" }, :html => {:id => ""} do |f| %>


    <div style="position:relative">
      <div class="float_left">
        <h5>Type Your Question:</h5>
        <%= f.text_field :instructions, :class => "span3" %>
        <br>
      </div>
      <div class="fineprint span3">
        <p class="fineprint">
          Type in any question that requires human intelligence, and 
          let the crowd answer it for you! Ex. "What is the best flight 
          deal from San Franscisco to New York City", "Text me at 10:00PM"
        </p>
      </div>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
    </div>

    <div style="position:relative">
      <div class="float_left">
        <h5>Resource</h5>
        <%= f.text_field :resource, :class => "span3" %>
        <br>
      </div>
      <div class="fineprint span3">
        <p class="fineprint">
          Type in any extra information that you want the crowd to know.
          Ex: "www.google.com","www.xxx.com/images/myimg.png"
          "Wolfram Alpha", "United Airlines Website", etc.
        </p>
      </div>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
    </div>
  
    <div style="position:relative">
      <div class="float_left">
        <h5>Resource Type</h5>
        <%= f.select :resourcetype, options_for_select(["Text","Image","Link","Audio","Video"],"Text"), :class => "span3" %>
      </div>
      <div class="fineprint span3">
        <p class="fineprint">
          Specify the Resource type for the resource you entered above.
        </p>
      </div>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
    </div>
  
    <div style="position:relative">
      <div class="float_left">
        <h5>Priority</h5>
        <%= f.select :priority, options_for_select(["Low","Medium","High"], "Medium"), :class => "span3" %>
      </div>
      <div class="fineprint span3">
        <p class="fineprint">
          Set the priority to whatever you want, depending on how important
          the task is to you. Note that extra fees may apply.
        </p>
      </div>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
    </div>
    
    <div style="position:relative">
      <div class="float_left">
        <h5>Workflow</h5>
        <%= f.select :workflow, options_for_select(["Parallel","Iterative","Survey"],"Parallel"), :class => "span3" %>
        <br>
      </div>
      <div class="fineprint span3">
        <p class="fineprint">
        Select "parallel" if you want the crowd workers to work in parallel.
        Select "iterative" if you want workers to work sequentially.
        Select "survey" if you want to collect opinions!
        </p>
      </div>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
    </div>
    
    <div style="position:relative">
      <div class="float_left">
        <h5>Redundancy</h5>
        <%= f.number_field :redundancy, :min => 1, :class => "span3" %>
        <br>
      </div>
      <div class="fineprint span3">
        <p class="fineprint">
          Specify how many crowd workers you need
        </p>
      </div>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
    </div>
  
    <% if false %>
    <div class="invisible" style="position:relative">
      <div class="float_left">
        <h5>Fields</h5>
        <%= f.text_field :fields, :value => '[{"Answer":"t"}]', :class => "span3" %>
        <br>
      </div>
    </div>
    <% end %>
  
  
  
    <%= f.submit "Create Task" %>
  <% end %>
</div>
