<h1 id="heading1">Listing tasks</h1>

<table class="table table-striped">
  <tr>
    <th>Task date</th>
    <th>Task</th>
    <th>Status</th>
    <th>Response</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr class="hover">
    <td><%= task.created_at %><p>&nbsp</p></td>
    <td><%= task.instructions %></td>
    <td><%= task.status %></td>
    <td><%= task.answer %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="padded rounded links dark_shadow">
<%= link_to 'New Task', new_task_path %>
</div>

