<h1 id="heading1">Listing tasks</h1>

<div style="min-height:10000px">
<% @tasks.each do |task| %>
  <% if task.status == "done" %>
  <div class="alert alert-success rounded padded margined float_left task_well" style="box-shadow:0 0 10px #00cc00">
  <% else %>
  <div class="alert alert-error rounded padded margined float_left task_well" style="box-shadow:0 0 10px #cc0000">
  <% end %>
    <p id="heading1" style="font-size:24px;">Status: <%= task.status %></p>
    <p id="heading1" style="font-size:17px;">Task: <%= task.instructions %></p>
    <%= link_to 'Show', task %>
    <div class="answer_well well padded">
      <p>Answer:</p>
      <% if Assistant.wolfram_succeeded_for(task) %>
        <p class="paragraph"><%= "See Wolfram Results Page" %></p>
      <% else %>
        <p class="paragraph"><%= task.answer %></p>
      <% end %>
    </div>
  </div>
<% end %>
</div>


<div class="invisible">
  <%= link_to 'New Task', new_task_path %>
</div>


