<h1 id="heading1">Task</h1>
<p id="notice"><%= notice %></p>

<div class="padded well">
  

  <p id="heading2" style="font-size:27px;">
    <b>Question:</b>
    <%= @task.instructions %>
  </p>

  <p>&nbsp</p>
  
  <p id="heading2" style="font-size:20px;">
    <b>Answer:</b>
    <% if @wolfram_results.nil? %>
      <%= @task.answer %>
    <% else %>
      <div class="well" style="background:#ffffff">
        <% @wolfram_results.each do |result| %>
          <div class="" style="background:#ffffff">
            <%= result.html_safe %>
          </div>
        <% end %>
      </div>
    <% end %>
  </p>

  <% if @task.status == "done" %>
    <p class="alert alert-success" id="heading2" style="font-size:17px;">
      <b>Status:</b>
      <%= @task.status.titleize %>
    </p>
  <% else %>
    <p class="alert alert-error" id="heading2" style="font-size:17px;">
      <b>Status:</b>
      <%= @task.status.titleize %>
    </p>
  <% end %>
  
  

</div>
<div class="dark_shadow links rounded padded">
  <% if false %>
    <%= link_to 'Edit', edit_task_path(@task) %> |
  <% end %>
  <%= link_to 'Back', tasks_path %>
</div>
