<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @task.user_id %>
</p>

<p>
  <b>Task date:</b>
  <%= @task.task_date %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Response:</b>
  <%= @task.response %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
