<h1>Listing jobs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Assistant</th>
    <th>Job date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.user_id %></td>
    <td><%= job.assistant_id %></td>
    <td><%= job.job_date %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
