<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @job.user_id %>
</p>

<p>
  <b>Assistant:</b>
  <%= @job.assistant_id %>
</p>

<p>
  <b>Job date:</b>
  <%= @job.job_date %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
