<h1 id="heading1"><%= @user.name %></h1>

<%= image_tag @user.profile.pic_url, :alt=>@user.name, :id=>"float_left", :class=>"rounded margined" %>

<div id="float_left">
  <table class="table padded">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Balance</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.balance %></td>
    </tr>
    </br>
    </br>
  
  </table>
  
  <div class="padded rounded links dark_shadow">
    <%= link_to "View Full Profile", profile_path %> </br>
    <%= link_to "View Tasks", tasks_path %> </br>
    <%= link_to "Charge Card", payment_path %>
  </div>
</div>
<br />
