<h1><%= @user.name %></h1>

<%= image_tag @user.profile.pic_url, :alt=>@user.name %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td><%= @user.name %></td>
    <td><%= @user.email %></td>
  </tr>
  </br>
  <%= link_to "View Profile", profile_path %> </br>
  <%= link_to "View Tasks", tasks_path %>

</table>
<br />
