<%= form_for(@mobworker) do |f| %>
  <% if @mobworker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mobworker.errors.count, "error") %> prohibited this mobworker from being saved:</h2>

      <ul>
      <% @mobworker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :api_id %><br />
    <%= f.text_field :api_id %>
  </div>
  <div class="field">
    <%= f.label :assistant_id %><br />
    <%= f.number_field :assistant_id %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :skill %><br />
    <%= f.text_field :skill %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
