<p id="notice"><%= notice %></p>

<p>
  <b>Api:</b>
  <%= @mobworker.api_id %>
</p>

<p>
  <b>Assistant:</b>
  <%= @mobworker.assistant_id %>
</p>

<p>
  <b>Rating:</b>
  <%= @mobworker.rating %>
</p>

<p>
  <b>Skill:</b>
  <%= @mobworker.skill %>
</p>


<%= link_to 'Edit', edit_mobworker_path(@mobworker) %> |
<%= link_to 'Back', mobworkers_path %>
