<%= image_tag @banner_url, :class=>"banner dark_shadow" %>
<div class="padded centered_vertically" style="min-width:1366px; ">
  <div class="text_box padded rounded span4">
    <h3 id="heading1">Welcome to Crowd Assistant</h3>
    <div id="indent">
      <h5 id="heading2">Let the world work for you</h5>
      <p>&nbsp</p>
      <h4 id="heading2"><%=@welcome_message%></h4>
      <% if current_user.nil? == false %>
        <%= link_to '- View User Profile', user_path %>
        <br>
        <%= link_to '- View Tasks', tasks_path %>
      <% end %>
    </div>
  </div>
  <div class="text_box padded rounded span4">
    <h3 id="heading1">Create Tasks</h3>
    <div id="indent">
      <p>Type in anything you want, from restaurant<br>
      advice to math questions, and let the crowd work for you.
      Click link below to get started!</p>
      <% if current_user.nil? == false %>
        <%= link_to '- View Tasks', tasks_path %>
      <% end %>
    </div>
  </div>
  
  <div class="text_box padded rounded span4">
    <h3 id="heading1">Create Your Profile</h3>
    <div id="indent">
      <p>Set your likes, dislikes, contact information, or basically
      anything you think the crowd should know.
      Click the link below to get started</p>
      <% if current_user.nil? == false %>
        <%= link_to '- View User Profile', user_path %>
      <% end %>
    </div>
  </div>
  
</div>
