<!DOCTYPE html>
<html>
<head>
  <title>CrowdAssistant</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'bootstrap' %>
</head>
<body class="center_panel">
  <div class="navbar white_navbar" style="margin-bottom:-2px;">
  <div class="">
    <div class="container thin_padded">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Crowd Assistant</a>
      <div class="" style="">
        <ul class="nav" style="margin-top:10px;">
          <div id="heading2" style="font-size:20px;" class="float_left narrow_margined"><a style="color:#333333;" href="<%= root_path %>">Home</a></div>
          <% if current_user %>
            <div id="heading2" style="font-size:20px;" class="float_left narrow_margined"><a style="color:#333333;" href="<%= tasks_path %>">Tasks</a></div>
            <div id="heading2" style="font-size:20px;" class="float_left narrow_margined"><a style="color:#333333;" href="<%= user_path %>">Profile</a></div>
          <% else %>
          <% end %>
          <%# if not (flash[:error].nil? and flash[:notice].nil?) %>
          <% if (flash[:error]) %>
              <div style="margin-top:0px;" class="alert alert-error float_left thin_padded margin_left">
                <div class="" id="flash_error"><strong><%= flash[:error] %></strong></div>
            </div>
          <% end %>
          <% if (flash[:notice]) %>
              <div style="margin-top:0px;" class="alert alert-info float_left thin_padded margin_left">
                <div class="" id="flash_notice"><strong><%= flash[:notice] %></strong></div>
            </div>
          <% end %>
        </ul>
      </div>

      <div style="margin-top:17px; float:right">
        <% if current_user %>
            Signed in as <%= link_to current_user.name, "/user", :class=>"paragraph"%>!
            <%= link_to "Sign Out", signout_path, :class =>"paragraph" %>
        <% else %>
          <%= link_to(image_tag("/images/facebook_login_button.png", :alt=>"Login with Facebook"), "/auth/facebook", :id => "fb_button") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if not current_page? root_path %>
  <div class="panel">
    <%= yield %>
  </div>
<% else %>
  <div class="">
    <%= yield %>
  </div>
<% end %>
<div class="centered_vertically">
  <p class="fineprint"></p>
</div>
<% if false %>
  <div id="footer-container">
    <footer>
  <hr />
  <a class ="link" href="/about">About CrowdAssistant</a> | 
  <a class ="link" href="/contact">Contact Us</a> | 
  <a class ="link" href="/team">Meet the Team</a> | 
  <a class ="link" href="/help">FAQ</a>
  <br />
  © 2012
    </footer>
  </div>
<% end %>
</body>
</html>
