<!DOCTYPE html>
<html>
<head>
  <title>CrowdAssistant</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="center_panel">
<div class="navbar navbar-fixed-top" style="">
  <div class="navbar-inner">
    <div class="container thin_padded">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Crowd Assistant</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active float_left"><a href="<%= root_path %>">Home</a></li>
          <% if current_user %>
            <li><a href="<%= tasks_path %>">Tasks</a></li>
            <li><a href="<%= user_path %>">Profile</a></li>
          <% else %>
          <% end %>
          <div class="thin_dark_well float_left thin_padded margin_left">
            <i class="icon-exclamation-sign float_left"></i>
            <div class="float_left narrow_margin_left" style="">
              <div class="fine_print_inverted" id="flash_error"><%= flash[:error] %></div>
              <div class="fine_print_inverted" id="flash_notice"><%= flash[:notice] %></div>
            </div>
          </div>

        </ul>
      </div>

      <div style="margin-top:8px; float:right">
        <% if current_user %>
            Signed in as <%= link_to current_user.name, "/user", :id=>"white_link"%>!
            <%= link_to "Sign Out", signout_path, :id =>"white_link" %>
        <% else %>
          <%= link_to(image_tag("/images/facebook_login_button.png", :alt=>"Login with Facebook"), "/auth/facebook", :id => "fb_button") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if not current_page? root_path %>
  <div class="panel">
    <%= yield %>
  </div>
<% else %>
  <div class="">
    <%= yield %>
  </div>
<% end %>
<div class="centered_vertically">
  <p class="fineprint">© 2012 </p>
</div>
</div>
</body>
</html>
